# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
npm-debug.log
yarn-error.log

# Ignore specific files copying by RN CLI
template/.gitignore
template/.gitattributes
template/.eslintrc.js
template/.flowconfig
template/.buckconfig
template/.prettierrc.js
template/.watchmanconfig
