.DS_Store
build/
.idea
.gradle
local.properties
*.iml
npm-debug.log
yarn-error.log
node_modules
template/node_modules
template/vendor/bundle/
template/ios/Pods
template/ios/build
template/android/app/.cxx
template/android/app/build
template/android/.gradle
template/android/.idea
documentation
.idea
.github
.husky
