.DS_Store
build/
.idea
.gradle
local.properties
*.iml
npm-debug.log
yarn-error.log
node_modules
template/node_modules
template/src/Config/index.js
template/src/Config/index.ts
template/ts-src-override/tsconfig.dev.ts
template/ts-src-override/tsconfig.ts
template/ios/Pods
template/android/app/build
template/android/.gradle
template/android/.idea
template/.buckconfig
template/.eslintrc.js
template/.flowconfig
template/.gitattributes
template/.gitignore
template/.prettierrc.js
template/.watchmanconfig
template/plugins/README.md
documentation
.idea
.github
