name: Deploy Documentation to GitHub Pages

on:
  push:
    branches: [ main ]
    paths:
      - documentation/**/*
      - template/theme/**/*
      - template/package.json

jobs:
  deploy_doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 #v4
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 #v4
        with:
          node-version: '20.x'
          cache: 'yarn'
          cache-dependency-path: ./documentation/yarn.lock
      - name: Add key to allow access to repository
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          echo "${{ secrets.GH_PAGES_DEPLOY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          cat <<EOT >> ~/.ssh/config
          Host github.com
          HostName github.com
          IdentityFile ~/.ssh/id_rsa
          EOT
      - name: Release to GitHub Pages
        env:
          USE_SSH: true
          GIT_USER: git
          DEPLOYMENT_BRANCH: gh-pages
        run: |
          git config --global user.email "actions@gihub.com"
          git config --global user.name "gh-actions"
          cd documentation
          yarn install --frozen-lockfile
          rm -rf .docusaurus/
          yarn build
          yarn deploy
